@model List<FuncionarioModel>
@{
    ViewData["Title"] = "Consultar lista de Funcionarios";
}

<div class="text-center">
    <h1 class="display-4">Consulta de listagem de Funcionario</h1>
</div>

<br/>
@if(TempData["MensagemSucesso"] != null)
    {
         <div class="alert alert-success" role="alert">
           <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
           @TempData["MensagemSucesso"]
        </div>   
    }

    @if(TempData["MensagemErro"] != null)
    {
         <div class="alert alert-success" role="alert">
           <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
           @TempData["MensagemErro"]
        </div>   
    }
<br/>

<table class="table table-dark" id="table-funcionarios">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Profissão</th>
      <th scope="col">Tempo de experiência(em anos)</th>
      <th scope="col">Salario</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      @if (Model != null && Model.Any())
      {
           foreach(FuncionarioModel funcionario in Model)
           {
                 <tr>
                    <td scope="row">@funcionario.Id</td>
                    <td>@funcionario.Nome</td>
                    <td>@funcionario.Email</td>
                    <td>@funcionario.Profissao</td>
                    <td>@funcionario.TempoExperiencia</td>
                    <td>@funcionario.Salario</td>
                  <td>
                    <a role="button" asp-controller="Funcionario" asp-action="Editar" asp-route-id="@funcionario.Id" class="btn btn-primary">Editar</a>
                     <a role="button" asp-controller="Funcionario" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
                  </td>
                 </tr>
           }
       }
  </tbody>
</table>